.loginContainer {
  height: 468px;
  width: 468px;
  border-radius: 4px;

  margin-right: 13.5rem;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
}

.loginContainer img {
  width: 22.5rem;
}

.loginContainer strong {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 2.87rem;
  color: var(--white);

  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.inputContainer {
  width: 19.8rem;
  height: 3.75rem;

  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.inputContainer div {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 19.8rem;
  height: 3.75rem;
  margin-top: 2.5rem;
}

.inputContainer div img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.5rem;
}

.inputContainer div p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.87rem;
  color: var(--text-highlight);
  text-align: left;

  width: 15.8rem;
  margin-top: 0;
}

.inputContainer form {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.inputContainer form input {
  text-align: left;
  padding-left: 2.5rem;
  background: linear-gradient(90deg, var(--blue-dark) 0%, rgba(73, 83, 184, 0.2) 100%);

  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1.50rem;
  line-height: 1.87rem;
  color: var(--white);

  width: 21.25rem;
  height: 5rem;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.inputContainer form > input:focus {
  border: 2px solid var(--green);
  filter: brightness(1.5);
  transition: filter 0.7s;
  transition: border 0.7s;
}

.inputContainer form > button {
  width: 5rem;
  height: 5rem;
  background: var(--blue-dark);
  border-radius: 0px 5px 5px 0px;
  border: none;
}

.inputContainer form > button > img {
  width: 1.5rem;
  height: 1.5rem;
}

.inputContainer form > button:hover {
  background: var(--green);
  transition: background 0.9s;
}

/* mobile */
@media only screen and (max-width: 500px) {
  .loginContainer {
    height: 400px;
    width: 100vw;

    margin-right: 4rem;

    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
  }

  .loginContainer > img {
    width: 22.5rem;
    margin-left: 3rem;
  }

  .loginContainer strong {
    margin: 4rem;
  }

  .inputContainer {
    width: 90vw;
    height: 1.75rem;

    max-width: 19.8rem;
    margin: 4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .inputContainer div {
    display: flex;
    flex-direction: column;
    align-items: initial;

  }

  .inputContainer div img {
    flex: 2;
    flex-direction: row;
    align-self: flex-end;
  }

  .inputContainer div p {
    flex: 1;
    flex-direction: row;
    align-self: flex-start;
  }

  .inputContainer form {
    display: flex;
    flex-direction: row;

    margin-top: 4.5rem;
    margin-right: 4rem;
  }

  .inputContainer form input {
    min-width: 19.8rem;
  }

}
