.container {
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 9rem;
  align-items: center;

  background: var(--blue);
  height: 100vh;
}

.loginImg {
  width: 56.25rem;
}

.signUpLink {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.87rem;
  color: var(--text);
  filter: brightness(1.5);
  text-align: left;
}

.signUpLink > span {
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

.signUpLink span:hover {
  color: var(--green);
}

/* mobile */
@media only screen and (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;

    width: 100vw;
    height: 100vh;
    min-width: 360px;
    min-height: 640px;

    justify-self: center;
    align-self: center;
  }

  .loginImg {
    display: none;
  }

  .signUpLink {
    text-align: center;
  }
}
