.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    var(--blue-dark) 0%,
    rgba(73, 83, 184, 0.8) 100%
  );

  display: grid;
  grid-template-rows: 1fr auto;

  align-items: center;
  justify-content: center;
}

.signUpBoxContainer {
  justify-content: center;
  align-content: center;

  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);

  border-radius: 10px;
}

.loginLink {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.87rem;
  color: var(--text-highlight);
  text-align: center;

  justify-self: center;
  align-self: center;
}

.loginLink > span {
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

.loginLink span:hover {
  color: var(--green);
}

/* mobile */
@media only screen and (max-width: 500px) {
  .container {
    background-size: cover;

    width: 100vw;
    height: 100vh;
    min-width: 360px;
    min-height: 640px;
  }
}
